.content-container {
    width: 85%;
    margin: auto;
    min-height: calc(100vh - 86px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 576px) {
        margin-top: 2rem;
    }

    .card-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        
        @media (max-width: 576px) {
            flex-direction: column;
        }
    
        .card-box {
            flex-basis: 28%;
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            @media (max-width: 576px) {
                width: 90%;
            }

            &:last-child .card .card-body {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                
            }

            &:nth-child(odd) .card {
                background: #222;
                color: #f2f2f2;
            }
            
            .card {
                position: relative;
                min-height: 70vh;
                margin-bottom: 8px;

                @media (max-width: 576px) {
                    min-height: 60vh;
                }

                h6 {
                    color: chocolate;
                }

                p {
                    font-size: .9rem;
                    line-height: 2;
                    margin-top: 1.5rem;
                }

                .play-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 10rem;
                }
            }

            .link {
                text-transform: uppercase;
                font-size: .9rem;
                font-weight: bold;
                letter-spacing: 1px;
                color: chocolate;
                width: 40%;
            
                &:hover{
                    text-decoration: none;
                    color: black;
                }
            }
            
        }
    }
}




