.header {
    position: relative;
    line-height: 60px;
    font-weight: lighter;
}

.navbar-expand {
    justify-content: center;

    @media (max-width: 576px) {
        justify-content: flex-start;
    }
}

.navbar-brand {
    font-size: 3rem;
    color: #f2f2f2!important;
    letter-spacing: 2px;

    @media (max-width: 576px) {
        font-size: 1.3rem;
        padding-left: 1rem;
    }
}

.hamburger {
    position: absolute;
    top: 50%;
    right: 2%;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    background-color: #222;
    color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    @media (max-width: 576px) {
        right: 5%;
        width: 50px;
        height: 50px;
        font-size: 2rem;
    }
}